.request-parent {
    padding: 25px;
    background-color: #455A64;

    > mat-card {
        margin: auto;
        width: 600px;
        display: grid;
        grid-template-columns: 1fr auto;
        background-color: #607D8B;


        > div:nth-child(1) {
            > div {
                padding-bottom: 10px;
            }
        }

        > div:nth-child(2) {
            display: grid;
            align-content: center;
        }
    }
}

.approve-button {
    color: white;
    background-color: #42c246;
    margin-right: 10px;
}

.reject-button {
    color: white;
    background-color: #d1382e;
}
