.container {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 500px;

}
.alert {
  width: 50%;
}
input {
  width: 50%;
}

.btn {
  background-color: #18ffff;
  color: black;
}

.white {
  color: white;
}
