<div class="container">
<div class="alert alert-danger" role="alert" *ngIf=errorMessage>{{errorMessage}}</div>
<form #userRegForm="ngForm" (ngSubmit)="login()">
  <div>
  <div class="row">
    <div class="col-md-12 mb-2">
      <label>Username</label>
      <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username" required>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 mb-2">
      <label>Password</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password" required>
    </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button name='Button' class="btn btn-success" type="submit" [disabled]="userRegForm.invalid">Login</button>
  </div>
</div>
</form>
</div>
