.request-parent {
  padding: 25px;
  background-color: #455A64;

  > mat-card {
      margin: auto;
      width: 600px;
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: #607D8B;
      color: whitesmoke;



      > div:nth-child(1) {
          > div {
              padding-bottom: 10px;
          }
      }

      > div:nth-child(2) {
          display: grid;
          align-content: center;
      }
  }
}

.edit-button {
  color: black;
  background-color: #18ffff;
  margin-right: 5px;
  margin-bottom: 15px;
}

.delete-button {
  color: black;
  background-color: #d1382e;
  margin-right: 5px;
}
.textarea
{
  background-color: rgb(163, 162, 162);
}
