<div class="certifications-list-content">

    <div *ngFor="let certification of certifications">

        <mat-card>
            <div>Title: {{ certification.title }}</div>
            <div>Category: {{ certification.category }}</div>
            <div>Cost: {{ certification.cost }}</div>
           <button mat-raised-button color="accent" (click)="openNewRequestDialog(certification)">Apply</button>
            <button  *ngIf="isAdmin()"class="btn btn-success" routerLink='/editCertification'>Edit</button>
            <button *ngIf="isAdmin()" class="btn btn-danger" (click)="delete(certification.id)">Delete</button>
        </mat-card>

    </div>

</div>


