.certifications-list-content {
    width: 100%;
    height: 100%;
    background-color: #455A64;

    > div {
        width: calc(50% - 50px);
        float: left;
        padding: 25px;
    }

    mat-card {
        width: 500px;
        background-color: #607D8B;
        padding-bottom: 10px;
    }

    > div:nth-child(odd) {
        display: grid;
        justify-content: end;
    }

    > div:nth-child(even) {
        display: grid;
        justify-content: start;
    }
}

.apply-button {
    background-color: #18FFFF;
}